<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
        hi{color:blue;}
    </style>
</head>
<body>
    <form action="/a" method="get">
        <input type="text"name="c">
        <input type="submit"name="d">
    </form>
    <hi><%= @a %></hi>
</body>