    <a href="<%= url %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <%= title %>
        <% unless current_user.nil? %>
            <% due_over = tasks.had_by(current_user).due_over.count %>
            <% if due_over !=0 %>
                <span class="badge bg-secondary rounded-pill">
                    <%= due_over %>
                </span>
            <% end %>
        <% end %>
    </a>