<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>wikipedia</title>
</head>
<body>
	<form action="/" method="get">
		<input type="text" name="key">
		<input type="submit" value="検索">
	</form>
	<%= @result %>
</body>
</html>
