{"filter":false,"title":".gitignore","tooltip":"/project/Ruby/wikipedia/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1699700443421,"hash":"51ae17bab5b0c349cd065767744d402053251e45"}